<div class="block_events_detail">
	<h1><%= page.title %></h1>
	<% if(page.data.featured_image) { %>
		<img src="<%= plugins.imgix(page.data.featured_image, { q: 60, w: 800, fm: 'jpg' }) %>" class="block_events_detail__image" alt="<%= page.title %>" />
	<% } %>
	<% if(page.data.start_date) { %>
	    <span class="block_events_detail__date"><%- plugins.formatDate(page.data.start_date, 'DD MMMM YYYY') %></span>
	<% } %>
	<%- plugins.richText(page.data.content_editor) %>
	<%- plugins.blocks(page.data.content) %>
</div>