<% var block = options.block %>
<%- block._editable %>

<div class="layer_blockquote">
	<% if(block.quote) { %>
		<blockquote>
			<%- block.quote %>
			<% if(block.cite) { %>
				<cite><%- block.cite %></cite>
			<% } %>
		</blockquote>
	<% } %>
</div>